<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Video Conferencing</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="googlestyle.css" />

    <link
      href="https://fonts.googleapis.com/css?family=Ubuntu"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="//fonts.googleapis.com/css?family=Open+Sans"
    />
  </head>
  <body class="landingPage__main">
    <div class="login__form">
      <p class="sign" align="center">Sign in</p>
      <form class="form1" action="/login" method="POST">
        <input
          class="un"
          type="email"
          align="center"
          placeholder="Email"
          name="email"
          required
          validation="required"
        />
        <input
          id="login__password"
          class="pass"
          type="password"
          align="center"
          placeholder="Password"
          name="password"
          required
          min="7"
        />
        <% if(messages && messages.error){%>
        <div class="validation-error-messages"><%= messages.error%></div>
        <%}%>

        <button id="login__submit" class="submit" align="center">
          Sign in
        </button>

        <!-- <hr style="border: 1px solid #e0e1e2; margin-top: 20px" /> -->
        <div class="button-container">
          <a style="display: block; color: black" href="/register"
            >Create a new account</a
          >
          <div class="linebreak"><span>Or</span></div>

          <a href="/google" class="google-btn">
            <div class="google-icon-wrapper">
              <img
                class="google-icon"
                src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"
              />
            </div>
            <p class="btn-text">Sign in with google</p>
          </a>
        </div>
      </form>
    </div>
  </body>
</html>
