<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Video Conferencing</title>
    <link rel="stylesheet" href="style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Ubuntu"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="app">
      <div class="app__left">
        <h3>Premium Video Conferencing. Now For Everyone!</h3>
        <p>
          We re-engineered the service we built for secure business meetings, to
          make it free for everyone!
        </p>
        <button id="newRoom">New Room</button>
        <form action="">
          <input
            type="text"
            placeholder="Enter room code to join"
            id="roomID"
            required
          />
          <button type="submit" id="joinRoom">Join!</button>
        </form>
      </div>
      <div class="app__right">
        <img src="./img/user_edu_get_a_link_light_90698cd7b4ca04d3005c962a3756c42d.svg"/>
      </div>
    </div>
  </body>
</html>
